<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CoreData_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1D2FED631D9AB0EB00421DE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D2FED7C1D9AB0EB00421DE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D2FED871D9AB0EB00421DE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
